#Companies{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 100px;
    text-align: center;
}

#Companies img{
    width: 120px;
}

#Companies ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

#Companies h4{
    color: #060031;
    padding-bottom: 100px;
    font-weight: 800;
}