

#contenedor-form{
    padding-left: 20px;
}

#Contact{
    background-color: #ffffff;
    padding: 0px 0px 40px 20px; 
}

#Contact h2{
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    padding: 40px 0px 40px 0px;
    text-align: left;
    color: #060031;
}

#Contact form{
    display: flex;
    flex-direction: column;
    text-align: left;
}

#Contact input{
    width: 100%;
    height: 40px;
}

#Contact input, textarea{
    margin: 10px 0px 10px 0px;
    border-width: 0 0 1px 0;
    opacity: 0.6;
    outline: none;
    background-color: transparent;
    resize:none 
}

#Contact button{
    width: 100px;
}

#Contact textarea{
min-height: 180px;

}

.Contact-columna1{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Contact-columna1 img{
    width: 40%;
}


#Contact .btn {
    background: linear-gradient(to right, #8076f0, #4d51f7);
    border-color: #4d51f7;
}
#Contact .btn:hover {
    background: linear-gradient(to right, #060031, #4d51f7);
    border-color: #4d51f7;
}
