.hero {
    display: flex;
    height: 80vh;
    background-color: #060031;
    overflow: hidden;
    padding-top: 0px;
    flex-direction: row;
    margin: 0%;
}

.hero-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: #ffffff;
    margin-left: 145px;
    padding-bottom: 30px;
    max-width: 500px;

}

.hero-text h1 {
    font-size: 3em;
    color: #ffffff;
    font-weight: 800;
    padding-bottom: 10px;
}

.hero-text h6 {
    padding-bottom: 30px;
    font-size: 1.3rem;
    line-height: 1.3;
    font-weight: 300;

}

.gradient-text {
    background-image: linear-gradient(to right, #8076f0, #4d51f7);
    -webkit-background-clip: text; /* Para navegadores WebKit */
    background-clip: text;
    color: transparent;
    font-size: 3.5rem;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
    padding: 50px 70px;
}

.hero img {
    /* height: 300px; */
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 400px;
}

.hero .btn {
    background: linear-gradient(to right, #8076f0, #4d51f7);
    border-color: #4d51f7;
    color: white;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    transition: background 0.3s ease;
    width: auto;
}

.hero .btn:hover {
    background: linear-gradient(to right, #060031, #4d51f7);
    border-color: #4d51f7;
}

.hero a {
    width: fit-content;
}


@media (max-width: 1280px) {
    .hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
      }

    .hero {
        flex-direction: column;
        padding-top: 0;
    }

    .hero-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0%;
        margin: 0;
    }

    .hero-text h1 {
        font-size: 2.5rem;
    }

    .hero-text h6 {
        font-size: 1.1rem;
    }

    .gradient-text {
        font-size: 2.5rem;
    }

    .hero-image {
        margin-right: 0;
        padding: 0;

    }

    .hero img {
        height: 300px;
    }
}



@media (max-width: 576px) {
    .hero-text h1 {
        font-size: 2em;
        
    }

    .hero-text {
        align-items: center;
        justify-content: center;
    }



    .hero-text h6 {
        font-size: 1em;
    }

    .gradient-text {
        font-size: 2rem;
    }

    .hero img {
        /* height: 200px; */
    }


    .hero-image {
        display: none;
    }




}
