/* Hero */

.Hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que el video cubra todo el área */
    z-index: -1000;
    transform: translate(-50%, -50%);
}


.content {
    width: 100%;
    position: relative;
    z-index: 1;
    text-align: left;
    color: #ffffff;
    padding: 20px;
    margin-top: 170px;
    margin-left: 170px;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.content h1 {
    font-size: 4.5em;
}

.content p {
    font-size: 1.5em;
    color: #ffffff;
    font-size: small;
}

.Hero .btn{
    background-color: #99A0E7;
    border-color: #99A0E7;
    padding: 10px 40px;
    margin-top: 20px;
}

.Hero .btn:hover{
    background-color: #060232;
    border-color: #060232;
}
/* End Hero */


/* ValueProposition */
#ValueProposition {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding-top: 30px;
    padding-bottom: 0px;
}

.ValueProposition__title{
    text-align: center;
    margin-bottom: 50px;
}



.ValueProposition__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.ValueProposition__cards img{
    width: 80px;
    margin-bottom: 30px;
    margin-left: 16px;
    background-color: #E5E7F9;
}
/* End ValueProposition */



/* Services */
.Services {
    display: flex;
    width: 100%;
    height: 50vh;
}

.image-container, .text-container {
    flex: 1; /* Ambos contenedores ocupan el 50% del ancho */
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra completamente su contenedor */
}

.text-container {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: #f4f4f4; 
    text-align: left; 
}
/* End Services */

/* Steps */
#Steps{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.step1, .step2, .step3, .step4 {
    padding-bottom: 100px;
}

.step1, .step3 {
    text-align: left;
}

.step2, .step4 {
    text-align: right;
}

#Steps img{
    height: 400px;
}

.Steps__tittle{
    padding-bottom: 100px;
}
/* End Steps */

/* Benefits */
#Benefits {
    display: flex;
    flex-direction: column;


    background-color: #99A0E7;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.Benefits__title{
text-align: center;
margin-bottom: 50px;
}



.Benefits__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;


}

.Benefits__cards img{
    height: 70px;
    width: auto;
    margin-bottom: 30px;

}
/* End Benefits */


/* Team */
#Team{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;

}

#Team img{
    width: 120px;
}

#Team ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

#Team h5{
    color: grey;
    padding-bottom: 100px;
}

/* End Team */

/* Companies */
#Companies{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(56, 56, 56);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;

}

#Companies img{
    width: 120px;
}

#Companies ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

#Companies h5{
    color: white;
    padding-bottom: 100px;
}
/* End Companies */

/* Fondo compartido */

#fondo__compartido{
    background-image: url(../Assets/Backgrounds/General-background-1.jpg);
}

/* End Fondo compartido */



