/* Hero */

.Hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;            /* Usar Flexbox para centrar */
    align-items: center;      /* Centrar verticalmente */
    justify-content: center;  /* Centrar horizontalmente */
    text-align: center;       /* Alinear el texto al centro */
}

#video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que el video cubra todo el área */
    z-index: -1000;
    transform: translate(-50%, -50%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.4));
    z-index: -999;
}


.content {
    width: 100%;
    max-width: 1024px;
    position: relative;
    z-index: 1;
    text-align: center;  /* Centramos el texto */
    color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centrar contenido dentro de la columna */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.content h1 {
    font-size: 4.5em;
}

.content p {
    font-size: 1.5em;
    color: #ffffff;
    font-size: small;
}

.Hero .btn{
    background-color: #99A0E7;
    border-color: #99A0E7;
    padding: 10px 40px;
    margin-top: 20px;
}

.Hero .btn:hover{
    background-color: #060232;
    border-color: #060232;
}
/* End Hero */


/* ValueProposition */
#ValueProposition {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding-top: 30px;
    padding-bottom: 0px;
    text-align: center;
    
}

.ValueProposition__title__A{
    text-align: center;
    margin-bottom: 30px;
    color: #99A0E7;
}

.ValueProposition__cards .card{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.ValueProposition__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}

.ValueProposition__cards img{
    width: 80px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 16px;
    background-color: #E5E7F9;
    
}


/* End ValueProposition */



/* Services */
.Services {
    display: flex;
    width: 100%;
    height: auto;
}

.image-container, .Services__text_container {
    flex: 1; /* Ambos contenedores ocupan el 50% del ancho */
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra completamente su contenedor */
}

.Services__text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #E5E7F9;
    text-align: left; 
}
/* End Services */

/* Steps */
#Steps{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color:#ffffff;
    padding: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.Steps__cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;

}

.Steps__number{
    background-color: white;
    border-radius: 5px;
    height: 200px;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #99A0E7;

}

.Steps__number img{
width: 100px;    
}

#Steps .card{
    width: min-content;
    border: none;
}


/* End Steps */

/* Benefits */
.Benefits {
    display: flex;
    width: 100%;
    height: auto;
    background-color: #E5E7F9;
}

.first-container, .second-container {
    flex: 1; /* Ambos contenedores ocupan el 50% del ancho */
}

.first-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: left; 
}

.second-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: left; 
}
/* End Benefits */


/* Team */
#Team{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;

}

#Team img{
    width: 120px;
    padding-bottom: 20px;
}

#Team ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

#Team h1{
    color: #99A0E7;
}

#Team h5{
    color: grey;
    padding-bottom: 100px;
}

/* End Team */

/* Companies */
#Companies{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #060232;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;

}

#Companies img{
    width: 120px;
}

#Companies ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

#Companies h5{
    color: white;
    padding-bottom: 100px;
}
/* End Companies */

/* Fondo compartido */

#fondo__compartido{
    background-image: url(../Assets/Backgrounds/General-background-1.jpg);
}

/* End Fondo compartido */



