.Services {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 50px 0px;
    overflow: hidden;
}

.image-container, .Services__text_container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    width: 100%;
    max-width: 350px;
    height: auto;
    object-fit: cover;
}

.Services__text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    background-color: #060031;
    text-align: left; 
    color: #ffffff;
}

.Services__text_container h4 {
    color: #4d51f7;
}

.Services__text_container h1 {
    margin-bottom: 30px;
}

.Services__text2 {
    margin-bottom: 20px;
}

/* Media Queries para pantallas más pequeñas */
@media (max-width: 1024px) {
    .Services {
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .image-container, .Services__text_container {
        flex: none;
        width: 100%;
        text-align: center;
    }

    .Services__text_container {
        padding: 50px;
        align-items: center;
    }

    .image-container img {
        display: none;
    }
}
