#Team{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #060031;
    padding: 100px;
    text-align: center;

}

#Team img{
    width: 120px;
    padding-bottom: 20px;
}

#Team ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

#Team h1{
    color: black;
    font-size: 4rem;
    text-align: center;
    color: #ffffff;
    font-weight: 800;
    padding-bottom: 10px;
}

#Team h4{
    color: #8076f0;
    padding-bottom: 100px;
}

#Team i{
    color: white;
}

#Team p, .blockquote-footer{
    color: #ffffff;
}

@media (max-width: 576px) {
    #Team ul{
        flex-direction: column;
        padding: 0%;

    }

    #Team ul li{
        margin-bottom: 50px;
    }

    #Team h1{
        font-size: 2rem;
        padding-top: 50px;
    }

    #Team h4{
        padding: 40px 15px;
    }

    #Team{
        padding: 30px 0px;

    }
}