/* ValueProposition */
#ValueProposition {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 100px;
    text-align: center;
    
}

.ValueProposition__title__A{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 30px;
    color: #060031;
    font-weight: 800;
}

.ValueProposition__cards .card{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    background-color: transparent;
}



.ValueProposition__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    text-align: left;

}

.ValueProposition__cards img{
    width: 90px;
    margin-bottom: 20px;
    margin-top: 60px;
}

.card-body{
    max-width: 20rem;
}

@media (max-width: 992px) {

    .card-body{
        max-width: 100%;
        padding: 0px;
        margin: 0;
    }
    #ValueProposition{
        padding: 20px;
        margin: 0%;
    }
    

    .ValueProposition__cards{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        

    }

    .ValueProposition__title__A {
        padding-top: 20px;
        font-size: 2rem;
    }

    .ValueProposition__cards .card{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;




    }

    .ValueProposition__cards {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
        text-align: left;
        
    
    }

}

/* End ValueProposition */